<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">EcoSwap</title>

    <!-- AdminLTE CSS -->
    <link th:href="@{/adminlte/dist/css/adminlte.min.css}" rel="stylesheet">
    <link th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    <div th:replace="layout/fragments/navbar :: navbar"></div>

    <!-- Sidebar -->
    <div th:replace="layout/fragments/sidebar :: sidebar"></div>

    <!-- Content Wrapper -->
    <div class="content-wrapper">
        <section class="content pt-3" layout:fragment="content">
            <!-- Page-specific content will go here -->
        </section>
    </div>

    <!-- Footer -->
    <div th:replace="layout/fragments/footer :: footer"></div>

</div>

<script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
</body>
</html>
