<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSwap | About</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <div id="header"></div>

    <main>
        <div class="content">
            <h1>About EcoSwap</h1>
            <p>Learn more about our mission to create a sustainable future by promoting the exchange of eco-friendly
            products.</p>
        </div>
    </main>

    <div id="footer"></div>

    <script src="script.js"></script>
</body>

</html>