<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/public_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSwap | Home</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    
    <main layout:fragment="content">
        <div class="content">
            <h1>Welcome to EcoSwap</h1>
            <p>Your sustainable marketplace for eco-friendly products!</p>
        </div>
    </main>

</body>
</html>